.body-corechat-box {
  box-sizing: border-box;
  height: auto;
  /* background: rgb(240, 199, 206); */
}
.corechat-outer-box {
  box-sizing: border-box;
  margin-left: 10rem;
  margin-right: 10rem;
  height: auto;
}
.corechat-inner-box {
  height: auto;
  width: 100%;
}
.chat-Container-Box {
  height: 85vh;
  width: 100%;
}
.chat-Page-Design {
  height: 71vh;
  /* background: blue; */
}

.write-chat-Message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}
@media screen and (max-width: 300px) {
  .corechat-outer-box {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 301px) and (max-width: 768px) {
  .corechat-outer-box {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .corechat-outer-box {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
