.ResourceUpload-body-Box {
  box-sizing: border-box;
  height: auto;
}
.ResourceUpload-Outer-Box {
  box-sizing: border-box;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
}
.ResourceUpload-Inner-Box {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .ResourceUpload-Outer-Box {
    margin-left: 5px;
    margin-right: 5px;
  }
}
