.viewFiles-body-Box {
  box-sizing: border-box;
  height: auto;
}
.viewfiles-outer-Box {
  box-sizing: border-box;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
}
.viewfiles-inner-Box {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 300px) {
  .viewfiles-outer-Box {
    margin-left: 5px;
    margin-right: 5px;
  }
}
