


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <!-- <style>
        html,
        body {
          height: 100%;
          
        }
      </style> -->

</head>
<body class="bg-gray-200 ">
    

<%- include('_navbar') -%>

<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- navbar ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- blogs list starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-- component -->


<button class="bg-green-200"><a href="/writeblog">Write a Blog</a> </button>

<div>
    <p>All blogs :</p>
</div>


<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- blogs list starts ------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  


</body>
</html>











