


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">

    <!-- <style>
        html,
        body {
          height: 100%;
          
        }
      </style> -->

</head>
<body class="bg-gray-200 ">
    

<%- include('_navbar') -%>

<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- navbar ends------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- blogs form starts------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  
<!-- component -->

<!-- component -->
<div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
            <div class="p-6 bg-white border-b border-gray-200">
                <form method="POST" action="/saveblog">
                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Title <span class="text-red-500">*</span></label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="title" id="title" value="" required>
                    </div>

                    <div class="mb-4">
                        <label class="text-xl text-gray-600">Description</label></br>
                        <input type="text" class="border-2 border-gray-300 p-2 w-full" name="description" id="description" placeholder="(Optional)">
                    </div>

                    <div class="mb-8">
                        <label class="text-xl text-gray-600">Content <span class="text-red-500">*</span></label></br>
                        <textarea name="content" class="border-2 border-gray-500">
                            
                        </textarea>
                    </div>

                    <div class="flex p-1">
                       
                        <button role="submit" class="p-3 bg-blue-500 text-white hover:bg-blue-400" required>Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<script>
    CKEDITOR.replace( 'content' );
</script>



<!-------------------------------------------------------------###################------------------------------------------->
<!------------------------------------------------------------- blogs form ends ------------------------------------------->
<!-------------------------------------------------------------###################------------------------------------------->
  


</body>
</html>











