/* .chat-box {
  width: 30%;
  height: 80vh;
  position: relative;
  margin: 2% auto;
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px black;
}

.chat-heading {
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 10px;
  text-align: center;
}

.chat-heading h2 {
  font-size: 2rem;
}

.chat-body {
  background-color: #50b9c0;
  height: 62vh;
}

.msg {
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.textdiv {
  margin-top: 1rem;
}
.type-area {
  margin-left: 0.5rem;
  height: 5vh;
  width: 70%;
  border-style: none;
  padding: 0.2rem;
  background-color: rgba(255, 255, 255, 0.521);
  font-size: 1rem;
  font-weight: 500;
}

.send-btn {
  margin-left: 1rem;
  width: 4rem;
  height: 5vh;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
}

@media screen and (max-width: 968px) {
  .chat-box {
    width: 92%;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-outerbox {
  width: 100%;
  height: 91vh;
  background-color: rgb(196, 194, 194);
}

.messageTyping-Container {
  width: 90%;
  height: 80vh;
  margin: 0% auto;
  position: relative;
}

.innermessagebox {
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
}

.user-text {
  background: rgb(241, 226, 22);
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
}
.chat-typebox {
  height: 9vh;
  display: flex;
}

.typemessage {
  width: 90%;
}
.inputTextBox {
  width: 90%;
  margin-left: 5px;
  box-sizing: border-box;
  padding: 7px;
  height: 7vh;
  border-radius: 7px;
  border-style: none;
  font-size: 20px;
  font-weight: 530;
}
.chatspan {
  width: 10%;
  text-align: center;
}
input:focus {
  outline: none;
}
@media (max-width: 968px) {
  .chat-outerbox {
    height: 93vh;
  }
  .messageTyping-Container {
    height: 93vh;
  }

  .innermessagebox {
    height: 84vh;
  }
  .inputTextBox {
    width: 85%;
  }
}
