<!-- component -->



    <div x-data="{ dropdownOpen: false }" class="relative " >
        <button @click="dropdownOpen = !dropdownOpen" class=" relative z-10 block rounded-md bg-white p-2 focus:outline-none" >
            <%if((locals.user) && (locals.user.seenAllNotifications=='no')){%>
            <svg id="bll" class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#FF0000">
                <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
            </svg>
            <%}else{%>
                <svg id="bll" class="h-5 w-5 text-gray-800" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#000000">
                    <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
                </svg>
                <%}%>
        </button>

        <div x-show="dropdownOpen" @click="dropdownOpen = false" class=" fixed inset-0 h-full w-full z-10"></div>

        <div x-show="dropdownOpen"  class="absolute right-0 mt-2 bg-white rounded-md shadow-lg overflow-hidden z-20" style="width:20rem;">
            <div id="notis" class="py-2 overflow-auto h-40" >
                <%if(locals.user.Notifications.length===0){%>
                    <p class="text-gray-600 text-sm mx-2">
                        <!-- <span class="font-bold" href="#">Sara Salah</span> replied on the <span class="font-bold text-blue-500" href="#">Upload Image</span> artical . 2m -->
                        <span id="nothing" class="font-bold" href="#">No recent Notifications</span>

                    </p>
                    <%}%>
                <%for(i of locals.user.Notifications.reverse()){%>
                <a href="<%=i.placetogo%>" class="flex items-center px-4 py-3 border-b hover:bg-gray-100 -mx-2">
                    <img class="h-8 w-8 rounded-full object-cover mx-1" src="https://cdn.staticcrate.com/stock-hd/effects/footagecrate-4k-bell-icon-prev-full.png" alt="avatar">
                    <p class="text-gray-600 text-sm mx-2">
                        <span class="font-bold" href="#"><%=i.msg%></span>

                    </p>
                </a>
                <%}%>
              
            </div>
        </div>
    </div>
   