.userProfile-body-Box {
  box-sizing: border-box;
  height: auto;
}
.userProfile-outer-Box {
  box-sizing: border-box;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
}
.userProfile-inner-Box {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .userProfile-outer-Box {
    margin-left: 5px;
    margin-right: 5px;
  }
}
