.Globalevents-body-Box {
  box-sizing: border-box;
  height: auto;
}
.Globalevents-outer-Box {
  box-sizing: border-box;
  margin-left: 5rem;
  margin-right: 5rem;
  height: auto;
}
.Globalevents-Inner-Box {
  height: auto;
  width: 100%;
}
