/* .dropdown-menu {
  width: 250px;
  position: absolute;
  top: 50px;
  right: 70px;
  list-style: none;
  text-align: start;
  border-radius: 50px;
}

.dropdown-menu li {
  background: grey;
  cursor: pointer;
}

.dropdown-menu li :hover {
  background: #5cabff;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
} */
* {
  margin: 0;
  padding: 0;
}

/* body {
  background: #fcfcfc;
} */

/* .container {
  width: 100%;
  height: 100vh;
} */

.dropdown {
  width: 15px;
  /* margin: 100px auto; */
  /* position: relative; */
}

.dropdown .dropdown-btn {
  /* padding: 15px 20px; */
  /* background: #fff; */
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  margin-top: 10px;
  right: 40px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;

  /* align-items: flex-end; */
}

.dropdown .dropdown-item {
  /* position: absolute; */
  /* padding-top: 5px;
  padding-left: 15px; */
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
  /* border-bottom: 1px solid rgb(206, 204, 204); */
  /* background: rgb(233, 232, 232); */
}

.dropdown-item:hover {
  background-color: rgb(185, 183, 183);
  border-radius: 7px;
}

.DropProfile {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.DropEditProfile {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.DropApply {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.Eventsdropdown-content {
  margin-top: 10px;
  right: 600px;
  top: 50px;
  padding-right: 50px;
  position: fixed;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}

.Eventsdropdown-item {
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
}

.Questiondropdown-content {
  margin-top: 10px;
  right: 300px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}

.Questiondropdown-item {
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
}

.notifydropdown-content {
  margin-top: 10px;
  right: 40px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 990;
  width: 255px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}

.notifydropdown-item {
  border-radius: 7px;
  width: 253px;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
  height: 10rem;
  margin: 1px;
  overflow-y: auto;
}

.notify-border {
  width: 200px;
  height: 0.1rem;
  color: black;
  background: black;
}

.Resourcesdropdown-content {
  margin-top: 10px;
  right: 140px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}
.Resourcesdropdown-item {
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 5px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
}

.Resourcesdropdown-item:hover {
  background-color: rgb(185, 183, 183);
  border-radius: 7px;
}
