/* 
* {
  margin: 0;
  padding: 0;
}



.dropdown {
  width: 15px;
 
}
.notification-Dropdown {
  width: 15px;
}
.dropdown .dropdown-btn {
  
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  margin-top: 10px;
  right: 40px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 160px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;

}

.dropdown .dropdown-item {
  
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 20px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
  
}

.dropdown-item:hover {
  background-color: rgb(185, 183, 183);
  border-radius: 7px;
}

.DropProfile {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.DropEditProfile {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.DropApply {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

.Eventsdropdown-content {
  margin-top: 10px;
  right: 650px;
  top: 50px;
  padding-right: 50px;
  position: fixed;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}


.Questiondropdown-content {
  margin-top: 10px;
  right: 320px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}

.Questiondropdown-item {
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 10px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
}

.Questiondropdown-item:hover {
  background-color: rgb(185, 183, 183);
  border-radius: 7px;
}

.notifydropdown-content {
  margin-top: 10px;
  right: 40px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 990;
  width: 255px;
  justify-content: left;
  background: rgb(211, 206, 206);
  border-radius: 7px;
}

.notifydropdown-item {
  border-radius: 7px;
  width: 253px;
  padding: 5px 5px 0px 5px;
  cursor: pointer;
  height: 10rem;
  margin: 1px;
  overflow-y: auto;
}

.notify-border {
  width: 200px;
  height: 1px;
  color: rgb(224, 217, 217);
  background: rgb(224, 217, 217);
}

.Resourcesdropdown-content {
  margin-top: 10px;
  right: 140px;
  top: 50px;
  padding-right: 50px;
  position: absolute;
  z-index: 998;
  width: 155px;
  justify-content: left;
  background: rgb(224, 217, 217);
  border-radius: 7px;
}
.Resourcesdropdown-item {
  border-radius: 7px;
  width: 153px;
  padding: 20px 0px 0px 5px;
  cursor: pointer;
  height: 4rem;
  margin: 1px;
}

.Resourcesdropdown-item:hover {
  background-color: rgb(185, 183, 183);
  border-radius: 7px;
} */
